[submodule "Johnemon_project/10-01-javascript-recap-johnemon-Tony044"]
	path = Johnemon_project/10-01-javascript-recap-johnemon-Tony044
	url = git@github.com:Junior-dev-Track/10-01-javascript-recap-johnemon-Tony044.git
